@model TMDbLib.Objects.Movies.Movie

<h1>@Model.Title</h1>
<input type="checkbox" class="originalClass" name="original" id="originalID"/>
<input type="text" name="original" id="originalCheckbox" value="false" hidden />

<select id="owner">
	<option value="MS">MS</option>
	<option value="CS">CS</option>
	<option value="NS">NS</option>
	<option value="TS">TS</option>
</select>

<select id="format">
	<option value="DVD">DVD</option>
	<option value="BD">BD</option>
	<option value="BD3D">BD3D</option>
</select>

<input type="button" class="add-db-button" id="@Model.Id" value="Add to DB" />
<div class="dummy" hidden></div>
<ul>
	<li>@Model.Overview</li>
	<li>
		<ul>
			@foreach (var genre in @Model.Genres)
			{
				<li>@genre.Name</li>
			}
		</ul>
	</li>
	<li>Budget: @Model.Budget $</li>
	<li>Released: @Model.ReleaseDate</li>
	<li>Runtime: @Model.Runtime min</li>
	<li>@Model.VoteAverage/10</li>
</ul>

<script>
	$(document).ready(function(){
		$('.add-db-button').click(function (e) {
			var ownerEle = document.getElementById("owner");
			var owner = ownerEle.options[ownerEle.selectedIndex].value;
			var formatEle = document.getElementById("format");
			var format = formatEle.options[formatEle.selectedIndex].value;
			var originalEle = document.getElementById("originalCheckbox");
			var original = originalEle.value;
			//Todo add original value


			$('.dummy').load('@Url.Action("addToDB", "Home")' + '/' + e.target.id + "?Owner=" + owner + "&Format=" + format + "&Original=" + original);
		});

		$('.originalClass').click(
			function (e) {
				var hiddeninput = document.getElementById("originalCheckbox");
				if (hiddeninput.value == "false") {
					hiddeninput.value = "true";
				} else {
					hiddeninput.value = "false";
				}
			}
		);
    });
    function setOriginal() {
        var hiddeninput = document.getElementById("originalCheckbox");
		if (hiddeninput.value == "false") {
            hiddeninput.value = "true";
		} else {
            hiddeninput.value = "false";
		}
	}
</script>
