@model TMDbLib.Objects.Movies.Movie

<h1>@Model.Title</h1>

<ul>
    <li>@Model.Overview</li>
    <li>
        <ul>
            @foreach (var genre in @Model.Genres)
            {
                <li>@genre.Name</li>
            }
        </ul>
    </li>
    <li>@Model.Budget $</li>
    <li>@Model.ReleaseDate</li>
    <li>@Model.Runtime min</li>
    <li>@Model.VoteAverage/10</li>
</ul>